
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", system-ui, sans-serif;
    background-color: #000;
    color: #fff;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0,0,0,0.95), rgba(0,0,0,0.7));
}

/* logo part */
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    background: #0b84ff;
}

.logo-text {
    font-size: 20px;
    font-weight: 600;
}

/* center links */
.nav-center {
    display: flex;
    gap: 30px;
}

.nav-center a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
    transition: 0.3s ease;
}

.nav-center a:hover {
    color:  #0b84ff;
    transform: scale(1.1);

}

/* right side buttons */
.nav-right {
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    transition: 0.3s ease;
}
.nav-link:hover{
    color:  #0b84ff;
    transform: scale(1.1);
}

.btn {
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
}
.btn:hover{
    transform: scale(1.1);
}

.btn-dark {
    background: #111827;
    color: #ffffff;
    border: 1px solid white;
}

.btn-blue {
    background: #0b84ff;
    color: #ffffff;
}

/* HERO SECTION */
 .hero {
    min-height: 100vh;
    padding-top: 80px;   /* navbar space */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg");
    background-size: cover;
    background-position: center;
}

.hero-inner {
    max-width: 900px;
    width: 100%;
    padding: 0 20px;
}

.hero-inner h1 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 16px;
}

.hero-inner p {
    font-size: 1,125rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #e5e7eb;
    margin-bottom: 32px;
}

/* BOOKING CARD */
 .booking-card {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 24px;
    padding: 22px 26px 26px;
    border-radius: 10px;

    background: linear-gradient(
        to bottom,
        rgba(41, 41, 42, 0.98),
        rgba(41, 41, 42, 0.98)
    );
    border: 1px solid rgba(148, 163, 184, 0.25);
    box-shadow: 0 24px 60px rgba(0,0,0,0.7);

    text-align: left;
}

/* tabs */
.booking-tabs {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
}

.tab {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #9ca3af;
    cursor: pointer;
}


.tab i {
    font-size: 16px;
}

.tab.active {
    color: #9ca3af;
    transition: 0.3s ease;
}
.tab.active:hover{
    color: #fff;
    transform: scale(1.1);
}

/* grey line full width */
.tabs-border {
    width: 100%;
    height: 1px;
    background: rgba(75, 85, 99, 0.9);
    margin-bottom: 2px;
}

/* blue underline sirf active tab ke niche approx same width */
.active-underline {
    width: 70px;
    height: 2px;
    background: #0b84ff;
    margin-bottom: 16px;
}

/* FORM LAYOUT */
.booking-form {
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 0.8fr;
    gap: 16px;
    align-items: end;
}

.form-group label {
    display: block;
    font-size: 12px;
    color: #fff;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    padding: 11px 14px;
    border-radius: 10px;
    border: 1px solid #4b5563;
    background: rgba(41, 41, 42, 0.98);
    color: #ffffff;
    font-size: 14px;
    outline: none;
}

.form-group input::placeholder {
    color: #cbd5f5;
}

/* Search button in form */
.search-btn {
    width: 100%;
    height: 42px;
    font-weight: 600;
    transition: 0.3s ease;
}
.search-btn:hover{
    transform: scale(1.1);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .navbar {
        padding: 0 16px;
    }

    .nav-center {
        display: none;  /* mobile me hide */
    }

    .hero-inner h1 {
        font-size: 34px;
        color: #fff;
    }

    .booking-card {
        padding: 18px 18px 20px;
    }

    .booking-form {
        grid-template-columns: 1fr;
    }
} 

/* Section 1 */

.Cont1{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #101922;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title{
   font-size: 3rem;
   font-weight: 700;
}

.subtitle{
    font-size: 18px;
    margin-top: 10px;
    color: rgb(114, 104, 104);
    margin-bottom: 4rem;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;       
  margin-top: 30px;
  margin-bottom: 5rem;
}

.step {
  width: 250px;    /* box width */
  text-align: center;
}

.step h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

.step p {
  font-size: 12px;
  line-height: 1.5;
}

.icon {
    font-size: 26px;
    color: #0b84ff;
    margin-bottom: 15px;
}

/* Section 2 */

.cont2 {
  height: 80vh;
  width: 100%;
  text-align: center;
  background-color: #101922;
  
}

.title2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  
}

.subtitle2 {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 50px;
}

.confidence-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.08); /* Glass effect */
  padding: 20px 25px;
  border-radius: 15px;
  width: 270px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: 0.3s ease;
}

.card:hover{
    transform: scale(1.1);
}

.card h3 {
  font-size: 20px;
  margin-top: 15px;
}

.card p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.6;
  color: #ccc;
}

.icon2 {
  font-size: 25px;
  background-color: #005eff;
  color: white;
  padding: 12px;
  border-radius: 50%;
}

/* Section 3 */

.cont3 {
  background-color: #101922;
  padding: 60px 40px;
  color: white;
}

/* Shared row styles */
.passengers-row,
.drivers-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 80px;
  margin-right: 12rem;
}

.passenger-img img,
.drivers-img img {
  width: 350px;
  height: 350px;
  border-radius: 12px;
}

.passenger-text,
.drivers-text {
  max-width: 480px;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 18px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  color: #86898b;
  margin-bottom: 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

ul li {
  font-size: 18px;
  margin: 10px 0;
  color: #86898b;
}

.btn4 {
  padding: 10px 25px;
  border: none;
  background-color: #3b82f6;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn4:hover{
    color: rgb(180, 187, 190);
    transform: scale(1.1);
}