*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  height:100%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background:var();
  color:#e6eef3;

}
body{
  height:100%;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background:var();
  color:#e6eef3;
  
}