*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(37, 34, 72);
    font-family: Plus Jakarta Sans, Noto Sans, sans-serif;
}
.con{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.sidebar{
    grid-column: 1/3;
    grid-row: 1/11;
    background-color:rgb(25 38 51 / var(--tw-bg-opacity, 1));
        border-right-width: 1px;
}
.main{
    grid-column: 3/11;
    grid-row: 1/11;
}
.drivedash{

}
/* Name and summary section */
.name{
    letter-spacing: -0.025em;
    font-weight: 600;
    font-size: 1.50rem;
    line-height: 2.25rem;
        box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}
.summary{
    color: rgb(146 173 201);
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 10px;
    font-weight: 400;
    margin-top: 1px;
    margin-left: 20px;
}
.box{
    height: 150px;
    width: 100%;
     background-color:rgb(25 38 51 / var(--tw-bg-opacity, 1));
    border-radius: 10px;
    margin-left: 20px;
    display: flex;

}
img{
    margin-top: 15px;
    margin-left: 20px;
    
}
img :hover{
    cursor: pointer;
    box-shadow: 20px 20px 30px black;
}
.details{
    /* margin-right: 200px; */
}
.details p{
    color:white;
    margin-top: 10px;
    margin-left: 20px;

}
.p1{
    color: rgb(146 173 201);
    font-size: 10px;
    line-height: 1.1rem;
    margin: 10px;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
}
.p1 p{
    font-weight: 400px;
}
.acept button{
    margin-left: 300px;
    background-color:green;
    color:white;
    padding: 5px;
    border-radius: 8px;
    font-size: 10px;


}
.decline button{
     margin-left: 30px;
    background-color: red;
    color:white;
    padding:5px;
    border-radius: 8px;
    font-size: 10px;

}
.decline :hover{
    box-shadow: 20 20 20 black;
    cursor: pointer;
}
.acept :hover{
    cursor: pointer;
}
.b{
    display: flex;

}
/* card container */


.container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.heading{
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
    padding: 20px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card{
    background: #1d2635;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: 0.3s;
    margin-left: 20px;
}

.card:hover{
    transform: translateY(-5px);
}

.card h4{
    font-size: 15px;
    opacity: 0.8;
    margin-bottom: 10px;
    color: rgb(146 173 201);
}

.value{
    font-size: 26px;
    font-weight: bold;
    color: white;
}
