* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #0f172a;
    color: #fff;
}

/* Sidebar */
.sidebar {
    width: 17%;
    background: #111a22;
    height: 100vh;
    padding: 20px;
}

.frist{
    display: flex;
}
.img{
    height: 30px;
    width: 30px;
}
.logo {

    margin-top: 7px;
    margin-bottom: 30px;
    margin-left: 8px;
    text-align: center;
    
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px;
    margin: 8px 0;
    /* background:#137FEC; */
    border-radius: 6px;
    cursor: pointer;
}

 .sidebar ul li.active {
    /* background: #3b82f6; */
     display: block;
     padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s;
    font-size: 16px;
    font-family: sans-serif;

}
.active img{
    height: 15px;
    width: 15px;
}
.sidebar ul li:hover{
background: #3b82f6;
}

.admin-info {
    position: absolute;
    bottom: 20px;
    color: #d1d5db;
}

/* Main Area
.main {
    flex: 1;
    padding: 25px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-btn {
    background: #3b82f6;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.welcome {
    margin: 10px 0 20px;
    color: #cbd5e1;
}

/* Cards */
/* .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.green {
    color: #22c55e;
}

.red {
    color: #ef4444; */
/* } */

/* Charts */
/* .charts {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.chart-box {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}  */