* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #0f172a;
    color: #fff;
}

/* Sidebar */
.sidebar {
    width: 17%;
    background: #111a22;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #007bff;
}

.frist{
    display: flex;
}
.img{
    height: 30px;
    width: 30px;
}
.logo {

    margin-top: 7px;
    margin-bottom: 30px;
    margin-left: 8px;
    text-align: center;
    
}

menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    font-size: 17px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-item i {
    font-size: 18px;
}

.menu-item:hover {
    background: rgba(0, 153, 255, 0.3);
    color: blue;
}

.menu-item.active {
    background: #007bff;
}
.settings {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 200px;
    border-bottom: 1px solid #007bff;
    
}
bottom-user {
    display: flex;
   align-items: center;
    gap: 12px;
    padding: 12px;
    border-top: 1px solid #0f304b;
}

.bottom-user img {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.bottom-user h4 {
    margin: 0;
    font-size: 15px;
}

.bottom-user p {
    margin: 0;
    font-size: 13px;
 opacity: 0.7s;
}




/* Main Area
.main {
    flex: 1;
    padding: 25px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-btn {
    background: #3b82f6;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.welcome {
    margin: 10px 0 20px;
    color: #cbd5e1;
}

/* Cards */
/* .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.green {
    color: #22c55e;
}

.red {
    color: #ef4444; */
/* } */

/* Charts */
/* .charts {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.chart-box {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}  */