* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #0f172a;
    color: #fff;
}

/* Sidebar */
.sidebar {
    width: 17%;
    background: #111a22;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #007bff;
}

.frist {
    display: flex;
}

.img {
    height: 30px;
    width: 30px;
}

.logo {

    margin-top: 7px;
    margin-bottom: 30px;
    margin-left: 8px;
    text-align: center;

}

menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    font-size: 17px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-item i {
    font-size: 18px;
}

.menu-item:hover {
    background: rgba(0, 153, 255, 0.3);
    color: blue;
}

.menu-item.active {
    background: #007bff;
}

.settings {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 200px;
    border-bottom: 1px solid #007bff;

}

bottom-user {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-top: 1px solid #0f304b;
}

.bottom-user img {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.bottom-user h4 {
    margin: 0;
    font-size: 15px;
}

.bottom-user p {
    margin: 0;
    font-size: 13px;
    opacity: 0.7s;
}

/* -----top bar---- */
.purn {
    width: 100%;
    height: 100%;
    background-color: #111a22;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 15px;
    margin-left: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #007bff;

}

/* Search Bar */
.search-box {
    background: #233648;
    padding: 10px 15px;
    border-radius: 8px;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box i {
    color: #b9c2d0;
}





.search-box input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #fff;
}

/* Icons on Right */
.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons i {
    font-size: 20px;
    color: #b9c2d0;
    cursor: pointer;
}

/* Profile Image */
.profile-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #3b4654;
    object-fit: cover;
}



/* Main Area */
.main {
    margin-left: 30px;
    padding: 25px;
    width: 93%;
}

.top-bar {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-btn {
    background: #3b82f6;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.welcome {
    margin: 10px 0 20px;
    color: #cbd5e1;
}



/* cards */
.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 90%;
    margin-left: 50px;
}

.card {

    padding: 20px;
    border-radius: 12px;
    border: 1px solid #365574;
    color: #d3d2d2;
    height: 150px;
}

.title {
    font-size: 14px;
    opacity: 0.7;
}

h2 {
    margin: 8px 0;
    font-size: 30px;
}

.change {
    font-size: 14px;
    font-weight: bold;
}

.up {
    color: #00e676;
}

.down {
    color: #ff6e6e;
}

/* Charts */
.charts {

    margin-left: 50px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 90%;
}

.chart-box {
    border-radius: 12px;
    border: 1px solid #365574;
    padding: 20px;
    border-radius: 10px;
    height:350px ;
}
h6{
    color: grey;
}
.chart-box img{
   height: 60%;
   width: 100%;
}